{% extends 'base.html' %} {% load static %} {% block page_title %}OnlyFlams | Home {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <div class="jumbotron">
            <h1>OnlyFlams!</h1>
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-6 col-12">
        <p class="lead">Test</p>
    </div>
    <div class="col-md-6 col-12">
        <p class="lead">Created By Jack Snowdon</p>
        <p class="blog-link"><a href="http://www.jacksnowdon.co.uk">Website</a></p>
    </div>
</div>

{% endblock %}